.aoa{
  background-color: rgb(7, 69, 144) !important;
  border-color: rgb(7, 69, 144) !important;
  color: white !important;
}
.aaa{
  background-color: rgb(7, 69, 144) !important;
  border-color: rgb(7, 69, 144) !important;
  color: white !important;
}
.azz{
  background-color: rgb(7, 69, 144) !important;
  border-color: rgb(7, 69, 144) !important;
  color: white !important;
}
.p-link{
    background-color: none;
    padding: none;
}